NEXT_PUBLIC_SUPABASE_URL=https://myinmkdykpjflrxywiez.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15aW5ta2R5a3BqZmxyeHl3aWV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3ODQwNDUsImV4cCI6MjEwMTM2MDA0NX0.yW-kwprg-GHtKIFaS9RnuPXfxKXrjBQQ5jP3LGxdqPw
